<!doctype html>
<html>

<head>
    <title>Tripresso</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="title" content="Tripresso" />
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="css/layout.css" />
    <link rel="stylesheet" type="text/css" href="css/index.css" />
    <script src="js/jquery.min.js"></script>
</head>

<body>
    <article class="mainContent" id="main">
        <section>
            <div class="banner"></div>
            <div class="sortBox">
                <span class="sortByTitle">排序</span>
                <ul class="changeTags" id="mainNav">
                    <li>
                        <span>
                           <a href="#!">精選評分</a>
                           <i class="fa fa-caret-down" aria-hidden="true"></i>
                           <ul class="navDrop">
                              <li><a class="rating" href="javascript:void(0)">評分：低至高</a></li>
                              <li><a class="rating" href="javascript:void(0)">評分：高至低</a></li>
                           </ul>
                        </span>
                    </li>
                    <li>
                        <span>
                           <a href="#!">價格</a>
                           <i class="fa fa-caret-down" aria-hidden="true"></i>
                           <ul class="navDrop">
                              <li><a class="price_asc" href="javascript:void(0)">價格：低至高</a></li>
                              <li><a class="price_desc" href="javascript:void(0)">價格：高至低</a></li>
                           </ul>
                        </span>
                    </li>
                    <li>
                        <span>
                           <a href="#!">天數</a>
                        </span>
                    </li>
                    <li>
                        <span>
                           <a href="#!">出發日期</a>
                        </span>
                    </li>
                </ul>
            </div>
            <!-- <div id="search-hint" class="fmColW100 fmText03 fz20 fGray01 textC">
                <span class="marL10 fIndigo01">台灣旅遊 {{totalRecord}} 個行程，平均團費 4,493 元</span>
            </div> -->
            <div class="blank20"></div>
            <ul id="corp-list" class="corpAllList">
                <li class="flexBox03 itemColumn02" v-for="item in dataList">
                    <a :href="item.tour_detail_url" class="corpInfoLogo">
                        <div class="bgCorpInfoLogo" :style="{backgroundImage: 'url(' + item.image_url + ')' }">
                        </div>
                    </a>
                    <div class="corpInfoBox">
                        <div class="fmColW100 fmText02 flexBox01 itemColumn02">
                            <div class="marR15 fGray02">
                                {{item.agency}}
                            </div>
                            <div class="marR15 fGray02" style="color: #ffc800;">
                                <!-- <ul class="preFlag">
                                    <li v-for="(ratings, index) in item.rating" v-if="index == item.rating "><i class="fa fa-star" aria-hidden="true"></i></li>
                                </ul> -->
                                <i class="fa fa-star" aria-hidden="true"></i>{{item.rating}}
                            </div>
                        </div>

                        <div class="fmColW100 fmText02 fz24 fBlue01 marB10">
                            <a :href="item.tour_detail_url">{{item.title}}</a>
                        </div>

                        <div>
                            <ul class="preFlag">
                                <li class="tag tripressoTag" v-for="(tag, index) in item.tags">{{tag}}</li>
                            </ul>
                        </div>
                        <div class="dateFavoriteBox">
                            <div class="dateBox">
                                <div class="dateList">
                                    <div rel="selled" class="flagGroupStatus isShow">
                                        <a itemprop="url" href="#" target="_blank" class="clickTrack" >
                                            <div class="toolTipBox" v-for="(groupInfo, index) in item.group" v-if="index < 4 ">
                                                {{ groupInfo.date }}
                                                <div class="toolTipTextBox">
                                                    可售{{ groupInfo.quantity }}位
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="dateMore">
                                    <div class="choiceDate">更多日期</div>
                                </div>
                            </div> <a href="#" target="_blank" class="discountInfo clickTrack">
                                <div class="disscountBox">
                                    <div class="dayPriceBox">
                                        <div class="dayPrice"><span>{{item.tour_days}}</span>天
                                            <span>{{item.min_price}}</span>元起
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="blank10"></div>
                    </div>
                </li>
            </ul>


            <div id="loadingIMG" style="display:none;"><i class="fa fa-spinner fa-pulse"></i>資料載入中，請稍等...</div>
            <div id="page-btn">
                <!------------   頁次列   -------------->
            </div>

        </section>
    </article>

    <!------- 回頂端按鈕設定 ------->
    <div class="goTop"><a><img src="img/topBtn.png" alt="GO TOP"></a></div>
    <!------- 回頂端按鈕設定 End ------->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script type="text/javascript" src="./js/float-top.js"></script>
    <script type="text/javascript" src="js/page.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
</body>

</html>